<!DOCTYPE html
        {% load static %}
        <html lang="en" dir="ltr">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>View all Books Record</title>
    <link rel="stylesheet" href="{% static 'css/BRMstyle.css' %}">
</head>
<body>
<div id="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Employee Mangement System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {{ active.0 }}" aria-current="page" href="/">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ active.1 }}" href="/history/">History</a>
                    </li>
                    {#                    <li class="nav-item dropdown">#}
                    {#                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
                    {#                           data-bs-toggle="dropdown" aria-expanded="false">#}
                    {#                            Dropdown#}
                    {#                        </a>#}
                    {#                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">#}
                    {#                            <li><a class="dropdown-item" href="#">Action</a></li>#}
                    {#                            <li><a class="dropdown-item" href="#">Another action</a></li>#}
                    {#                            <li>#}
                    {#                                <hr class="dropdown-divider">#}
                    {#                            </li>#}
                    {#                            <li><a class="dropdown-item" href="#">Something else here</a></li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link disabled">Disabled</a>#}
                    {#                    </li>#}
                </ul>
                {#                <form class="d-flex">#}
                {#                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
                {#                    <button class="btn btn-outline-success" type="submit">Search</button>#}
                {#                </form>#}
            </div>
        </div>
    </nav>
    {#    <h2>{{ title }}</h2>#}
    <table class="table table-striped">
        <thead>
        <tr>
            <td>First name</td>
            <td>Last name</td>
            <td>Age</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Empolyee Experience</td>
            <td>Apply for position</td>
            <td>Expectation</td>
            {% if  editable %}
                <td>Operation</td>
            {% else %}
                <td>Status</td>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for e in employee %}
            <tr>
                <td>{{ e.fname }}</td>
                <td>{{ e.lname }}</td>
                <td>{{ e.age }}</td>
                <td>{{ e.email }}</td>
                <td>{{ e.phone }}</td>
                <td>{{ e.intro }}</td>
                <td>{{ e.position }}</td>
                <td>{{ e.expect }}</td>
                {% if editable %}
                    <td><a href="/api/passed?id={{ e.pk }}" class="btn btn-primary" role="button">Pass</a>
                        <a href="/api/reject?id={{ e.pk }}" class="btn btn-danger" role="button">Reject</a></td>
                {% elif e.passed == 1 %}
                    <td>passed</td>
                {% elif e.passed == 2 %}
                    <td>rejected</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
</body>
</html>
